<html>
    <head>
    </head>
        <body>
            {{#about-us}}
            <p>This is the about page</p>
            <p>here is more information ...</p>
            {{/about-us}}
        </body>
</html>