<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
       {{>navBar}}
        <section class="py-5">
            <div class="container my-5" style="height: 40rem">
                <div class="row justify-content">
                    <div class="col-lg-6">
                        <h2>{{title}}</h2>
                        <form>
                        <br>
                        <br>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Lunch or Dinner</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Lunch</option>
                                    <option>Dinner</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </form> 
                        <br>
                        <br>
                        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Call us on: 0121 111 2222</p>
                        <br>
                        <p class="lead">Opening Times:</p>
                            <p class="mb-0">Sunday to Wednesday: 10:00 - 20:00</p>
                            <p class="mb-0">Thursday to Sunday: 10:00 - 23:00</p>
                    </div>
                    <div class="col-lg-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.74438457621!2d-3.193068748519285!3d55.953802183844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7e5baa9c049%3A0x4d8ea89b330ddc3b!2sTattu%20Edinburgh!5e0!3m2!1sen!2suk!4v1651478362646!5m2!1sen!2suk" width="600" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container my-5" style="height: 20rem">
                <div class="row justify-content">
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
