<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Arlo's Restaurant</title>

        <link rel="icon" type="image/x-icon" href="#" />

        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#597057">
            <div class="container">
                <a class="navbar-brand" href="#!">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-b`s-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/add-dish">Add Dish</a></li>
                        <li class="nav-item"><a class="nav-link" href="/add-post">Add Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
       
        <section class="py-5">
            <div class="container my-5" style="height: 60rem">
                <div class="row justify-content">
                    <div class="col-lg-6">
                        <h2>{{title}}</h2>
                        <form method="POST" role="form">
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="name">Dish Name: </label>
                                <input type="text" class="form-control" id="name" name="name" value={{name}}>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="type">Dish Type:</label>
                                <select class="form-control" id="type" name="type" required>
                                    <option>Lunch</option>
                                    <option>Dinner</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <label for="price">Price: </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">£</span>
                                <input type="text" class="form-control" id="price" name="price" aria-label="price" required>
                            </div>
                            <br>
                            <br>
                            <label for="special">Special: </label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="special" id="special-yes" value="yes">
                                <label class="form-check-label" for="special">
                                    Yes
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="special" id="special-no" value="no" checked>
                                <label class="form-check-label" for="special">
                                    No
                                </label>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="ingredients">Ingredients: </label>
                                <input type="text" class="form-control" id="ingredients" name="ingredients" required>
                            </div>
                            <br>
                            <br>
                            <label for="allergies">Allergies: </label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="vegan" value="vegan" name="allergies">
                                <label class="form-check-label" for="allergies">Vegan</label>
                                </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="veggie" value="veggie" name="allergies">
                                <label class="form-check-label" for="allergies">Vegeterian</label>
                                </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="nuts" value="nuts" name="allergies">
                                <label class="form-check-label" for="allergies">Contains nuts</label>
                            </div>
                            <br>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form> 
                    </div>
                    <div class="col-lg-6">
                         <form action="/delete" method="POST">
                            <button type="button" class="btn btn-danger">Delete</button>
                         </form>
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
