<!DOCTYPE html>
<html lang="en">
    <head>
       {{>header}}
    </head>
    <body> 
        <section class="py-5">
        <footer class="py-5" style="background-color:#597057">
            <div class="container"><p class="m-0 text-white">Copyright &copy; Iona Wright 2022</p></div>
        </footer>
        </section>
    </body>
</html>
