<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Arlo's Restaurant</title>

        <link rel="icon" type="image/x-icon" href="#" />

        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white">
                <div class="container">
                    <a class="navbar-brand" href="#!">LOGO</a>
                </div>
        </nav>
       
        <section class="py-5">
            <div class="container my-5" style="height: 40rem">
                <div class="row justify-content">
                    <div class="col-lg-6">
                        <h2>{{title}}</h2>
                        <form>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Username: </label>
                                <input type="email" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Password: </label>
                                <input type="email" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form> 
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
