<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
       {{>adminNavBar}}
        <section class="py-5">
            <div class="container my-5" style="height: 40rem">
                <div class="row justify-content">
                    <div class="col-lg-6">
                        <h2>{{title}}</h2>
                        <form method="post" role="form" action="/admin">
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="username">Username: </label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="password">Password: </label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <br>
                            <br>
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-dark" type="submit">Submit</button>
                            </div>
                        </form> 
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
