<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
       {{>navBar}}
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content">
                        <h1>{{title}}</h1>
                        </br>
                        <p class="mb-0">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container my-5" style="height: 30rem">
                {{#menuLunch}}
                    <div class="row justify-content">
                        <div class="col-lg-5" ></div>
                        <h5 class="card-title">{{name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">£{{price}}</h6>
                        <p class="card-text">{{description}} {{allergies}}</p>
                        <br>
                        <br>
                    </div>
                {{/menuLunch}}
            </div>
        </section>
        {{>footer}}
    </body>
</html>
