<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
       {{>navBar}}
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content">
                        <h1>{{title}}</h1>
                        </br>
                        <p class="mb-0">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container my-5" style="height: 30rem">
                <div class="row justify-content">
                    <h2>Starters</h2>
                    <div class="col-lg-5" >SMOKED SALMON (GF) Smoked salmon, buttermilk dressing, pickled radish & apple, wild garlic oil.</div>
                    <div class="col-lg-1">£7.99</div>
                    <div class="col-lg-5">BUFFALO CAULIFLOWER (V) (GF) Sriracha glazed crispy cauliflower bites, blue cheese & crème fraiche dip </div>
                    <div class="col-lg-1">£6.95</div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
