<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
       {{>navBar}}
        <section class="py-5">
            <div class="container my-5" style="height: 10rem">
                <div class="row justify-content">
                        <h2>{{title}}</h2>
                        </br>
                        </br>
                        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p class="mb-0">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container my-5" style="height: 50rem">
                <div class="row justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/images/carrots.jpg" class="card-img-top" alt="carrots">
                        <div class="card-body">
                            <h5 class="card-title">Our latest local produce</h5>
                            <p class="card-text">Good News! With great weather comes great produce. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
                            <button type="button" class="btn btn-outline-secondary" disbaled>Read More</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/images/strawberries.jpg" class="card-img-top" alt="strawberries">
                        <div class="card-body">
                            <h5 class="card-title">Our latest local produce</h5>
                            <p class="card-text">Good News! With great weather comes great produce. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
                            <button type="button" class="btn btn-outline-secondary" disbaled>Read More</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/images/red_onion.jpg" class="card-img-top" alt="red onion">
                        <div class="card-body">
                            <h5 class="card-title">Our latest local produce</h5>
                            <p class="card-text">Good News! With great weather comes great produce. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
                            <button type="button" class="btn btn-outline-secondary" disbaled>Read More</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/images/pasta.jpg" class="card-img-top" alt="pasta">
                        <div class="card-body">
                            <h5 class="card-title">Our latest local produce</h5>
                            <p class="card-text">Good News! With great weather comes great produce. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
                            <button type="button" class="btn btn-outline-secondary" disbaled>Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
